
body {
    overflow: hidden;
    background-image: -webkit-radial-gradient(circle, #b6ee9f, #88f595, #6cdeb0, #66e7e7, #45c8c8);
}
h1 {
    margin-bottom: 0px;
    font-size :  45px;;
    text-align : center;
    color :rgb(5, 150, 77);
     text-shadow:
        0 0 5px rgb(163, 232, 187),
        0 0 10px rgb(32, 238, 104),
        0 0 20px rgb(32, 238, 104),
        0 0 40px rgb(90, 249, 146);
    font-family: 'Luckiest Guy', cursive;
}

.Shkronjat button {
    background: linear-gradient(45deg, #fff81f, #ff9068);
    padding: 25px 45px; 
    text-align: center;
    font-size: clamp(16px, 2vw, 25px);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #4b2e05;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
    font-weight: bold;
    margin: 3px 3px;
    cursor: pointer;
    border-radius: 12px;
    width: fit-content;
    height : fit-content;
    transition: transform 0.3s ease;
}

.Shkronjat  button:hover {
 transform: translateY(-10px);
  filter: brightness(1.2);
}

.Shkronjat  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}
